= form_for @pitch do |f|
  - if @pitch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pitch.errors.count, "error")} prohibited this pitch from being saved:"
      %ul
        - @pitch.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :pitcher
    = f.text_field :pitcher
  .field
    = f.hidden_field :tokbox_id
  .field
    = f.hidden_field :twilio_number
  .actions
    %a{:href=>'#start', :onclick=>'javascript:startButtonClickHandler()', :class=>'btn'} Start Record
    %a{:href=>'#stop', :onclick=>'javascript:stopButtonClickHandler()', :class=>'btn btn-warning'} Stop Record

