%h1 Listing pitches

%table
  %tr
    %th Name
    %th Pitcher
    %th Tokbox
    %th Twilio number
    %th
    %th
    %th

  - @pitches.each do |pitch|
    %tr
      %td= pitch.name
      %td= pitch.pitcher
      %td= pitch.tokbox_id
      %td= pitch.twilio_number
      %td= link_to 'Show', pitch
      %td= link_to 'Edit', edit_pitch_path(pitch)
      %td= link_to 'Destroy', pitch, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Pitch', new_pitch_path
