%p#notice= notice

= hidden_field_tag :token,  @pitch.token
- if @publisher
  = hidden_field_tag :token,  @pitch.token(true)
  = hidden_field_tag :publisher, 'true'
- else
  = hidden_field_tag :token,  @pitch.token

.row
  .span6.videocol

    .videoplayer#videoplayer
    .videodetails
      %p Pitch name
      %h1
        = @pitch.name
      %p Pitcher
      %h2
        = @pitch.pitcher

  .span6.commentscol
    .commentsummary.alert.alert-info
      Send a text to
      %b #{Pitchback::Application.config.default_number}
      like "This is awesome +4" to leave a comment & give a 4/5 score.
    .commentlist
      %ul.nav.nav-list
        %li.comment
          %label 646 464 2323
          %p This is the best talk ever
        %li.comment
          %label 646 464 1111
          %p This is awesome

  $(document).ready(function(){
  //Initialize

    initSession('#{@pitch.tokbox_id}');
  });
