%p#notice= notice

= hidden_field_tag :token,  @pitch.token
- if @publisher
  = hidden_field_tag :token,  @pitch.token(true)
  = hidden_field_tag :publisher, 'true'
- else
  = hidden_field_tag :token,  @pitch.token

.row
  .span6.videocol
    .row
      .span12.videoplayer#videoplayer
    .row
      .span12.videodetails
        %p
          %b Name:
          = @pitch.name
        %p
          %b Pitcher:
          = @pitch.pitcher

  .span6.commentscol
    .commentsummary
    .commentlist
      %ul
        %li.comment
          %p This is the best talk ever
        %li.comment
          %p This is awesome


= link_to 'Edit', edit_pitch_path(@pitch)
\|
= link_to 'Back', pitches_path
:javascript
  $(document).ready(function(){
  //Initialize

    initSession('#{@pitch.tokbox_id}');
  });
