%p#notice= notice

.row
  .span6.videocol
    .row
      .span12.videoplayer
    .row
      .span12.videodetails
        %p
          %b Name:
          = @pitch.name
        %p
          %b Pitcher:
          = @pitch.pitcher

  .span6.commentscol
    .commentsummary
    .commentlist
      %ul
        %li.comment
          %p This is the best talk ever
        %li.comment
          %p This is awesome


= link_to 'Edit', edit_pitch_path(@pitch)
\|
= link_to 'Back', pitches_path
